#box1{
    margin-top: 10px;
    height: 300px;
    background-color: greenyellow;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

#box1 li {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
  }